
  form {
    flex: auto;
    color: black;
    background-color: rgb(75, 82, 148);
    border-style: solid;
    border-color: blue;
  }
  h3 {
    color: white;
    background-color: rgb(1, 1, 26);
  }

  h1 {
    text-align: center;
    color: white;
    background-color: rgb(1, 1, 26);
    font-size: 40px
  }
  table {
    font-size: 14px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-style: solid;
    border-color: black;
    background-color: white;
  }
  th {
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    align-items: center;
  }
  td {
    border-style: solid;
    border-color: black;
    align-items: center;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 10px;  
  }

  hr {
    border-style: double;
  }