



<h1>Ventas</h1>





<p>
    <p-button (click)="showDialog()" label="+ Crear Venta" [raised]="true" severity="help" />
    <a></a>
    <p-button (click)="showDialogListado()" label="+ Vendidos" severity="info" />
    <a></a>
    <p-button (click)="showDialogListadoCliente()" label="Clientes Top" severity="info" />
</p>

<label for="idventa" class="font-semibold w-24">ID Venta: </label>
<input id="idventa" (input)="filtrarVentas()" [(ngModel)]="idFiltro" pInputText placeholder="Buscar por ID">
<label for="nome" class="font-semibold w-24">Nombre: </label>
<input id="nome" (input)="filtrarVentas()" [(ngModel)]="nombreFiltro" pInputText placeholder="Buscar por cliente">


<p></p>
<p-table [value]="ventasFiltradas" [paginator]="true" [rows]="6" [tableStyle]="{ 'min-width': '50rem' }">
    
    <ng-template #header>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Vehiculo</th>
            <th>Fecha</th>
            <th>Total</th>
        </tr>
    </ng-template>
    
    <ng-template #body let-venta>
        <tr>
            <td>{{ venta.id }}</td>
            <td>{{ venta.clienteApellido }}</td>
            <td>{{ venta.productoNombre }}</td>
            <td>{{ venta.fecha }}</td>
            <td>{{ venta.total }}</td>
            <td>
              <p-button (click)="showDialogEdit(venta)" icon="pi pi-pencil" [rounded]="true" severity="warn" [outlined]="true" />  
              <p-button (click)="eliminarVentas(venta)" icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true" />
            </td>
            
        </tr>
        
    </ng-template>
      
    
    
</p-table>
   



<p-dialog header="Crear Venta" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8"></span>
    <div class="flex items-center gap-4 mb-4">
        <label for="clienteId" class="font-semibold w-24">Cliente: </label>
        <!--input pInputText id="name" class="flex-auto" [(ngModel)]="clienteId" autocomplete="off" /-->
        <select [(ngModel)]="clienteId">
        <option *ngFor="let venta of foraneos" [value]="venta.id">
             {{ venta.id }}  {{"/" + venta.apellido}}
        </option>
        </select>
    
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="vehiculoId" class="font-semibold w-24">Vehiculo:</label>
        <!--input pInputText id="price" class="flex-auto" [(ngModel)]="vehiculoId" autocomplete="off" /-->
        <select [(ngModel)]="vehiculoId">
        <option *ngFor="let venta of productos" [value]="venta.id">
             {{ venta.id }}  {{"/" + venta.nombre}}
        </option>
        </select>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="fecha" class="font-semibold w-24">Fecha:</label>
        <input pInputText id="stock" class="flex-auto" [(ngModel)]="fecha" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="total" class="font-semibold w-24">Total:</label>
        <input pInputText id="stock" class="flex-auto" [(ngModel)]="total" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" (click)="limpiarPopUpCarga()" severity="secondary" (click)="visible = false" />
        <p-button label="Aceptar" (click)="crearVenta()" />
        <div id="error" *ngIf="msgError" class="alert alert-danger">
         {{ msgError }}
        </div>
    </div>
    
</p-dialog>


<p-dialog header="Editar Venta" [modal]="true" [(visible)]="visibleEditar" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8"></span>
    <div>
        <label for="ventaId" class="font-semibold w-24">ID: </label>
        <input pInputText id="ventaId" class="flex-auto" [(ngModel)]="id" readonly style="border: none; outline: none;" />
    <p></p>
    </div>

    <div class="flex items-center gap-4 mb-4">  
        <label for="clienteId" class="font-semibold w-24">Cliente: </label>
        <!--input pInputText id="clienteId" class="flex-auto" [(ngModel)]="clienteId" autocomplete="off" /-->
        <select [(ngModel)]="clienteId" >
        <option *ngFor="let venta of foraneos" [value]="venta.id">
             {{ venta.id }}  {{"/" + venta.apellido}}
        </option>
        </select>
    </div>

    <div class="flex items-center gap-4 mb-4">
        <label for="vehiculoId" class="font-semibold w-24">Vehículo:</label>
        <!--input pInputText id="vehiculoId" class="flex-auto" [(ngModel)]="vehiculoId" autocomplete="off" /-->
        <select [(ngModel)]="vehiculoId" >
        <option *ngFor="let venta of productos" [value]="venta.id">
             {{ venta.id }}  {{"/" + venta.nombre}}
        </option>
        </select> 
    </div>

    <div class="flex items-center gap-4 mb-4">
        <label for="fecha" class="font-semibold w-24">Fecha:</label>
        <input pInputText id="total" class="flex-auto" [(ngModel)]="fecha" autocomplete="off" />
    </div>

    <div class="flex items-center gap-4 mb-4">
        <label for="total" class="font-semibold w-24">Total:</label>
        <input pInputText id="total" class="flex-auto" [(ngModel)]="total" autocomplete="off" />
    </div>
    
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visibleEditar = false" />
        <p-button label="Aceptar" (click)="editarVenta()" />
    </div>
    
    
</p-dialog>



<p-dialog header="Vehículos más vendidos:" [modal]="true" [(visible)]="visibleListado" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">

    <p-table [value]="listadoVentas" [paginator]="true" [rows]="6" [tableStyle]="{ 'min-width': '50rem' }">
    
    <ng-template #header>
        <tr>
            <th>Vehiculo</th>
            <th>Total</th>
        </tr>
    </ng-template>
    
    <ng-template #body let-venta>
        <tr>
            <td>{{ venta.vehiculo }}</td>
            <td>{{ venta.total }}</td>
        </tr>
        
    </ng-template>
    </p-table> 
    
</p-dialog>



<p-dialog header="Mejores Clientes:" [modal]="true" [(visible)]="visibleListadoCliente" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    
    <p-table [value]="listadoClientes" [paginator]="true" [rows]="6" [tableStyle]="{ 'min-width': '50rem' }">
    
    <ng-template #header>
        <tr>
            <th>Nombre</th>
            <th>Total</th>
        </tr>
    </ng-template>
    
    <ng-template #body let-venta>
        <tr>
            <td>{{ venta.nombre }}</td>
            <td>{{ venta.total }}</td>
        </tr>
        
    </ng-template>
    
    
    </p-table>

</p-dialog>